# AuraMarket - Environment Variables Information
#
# Please configure environment variables within the /server directory.
# Copy /server/.env.example to /server/.env and fill in the details.
#
# For reference, details can be found inside:
# ./server/.env.example
